:root {
    --main-color: #a85a30;
    --black-color: #363636;
    --main-color-shadow: rgba(168, 90, 48, 30%);
    --rose-color-shadow: rgba(216, 33, 205, 20%);
    --orange-color: #ffc4a4;
    --orange-color-shadow: rgba(255, 110, 37, 40%);
    --red-color-shadow: rgba(255, 44, 37, 30%)
}

.main-background-color {
    background-color: var(--main-color);
}

.background-color-orange-shadow {
    background-color: var(--orange-color-shadow);
}

.background-color-orange {
    background-color: var(--orange-color);
}

a {
    color: var(--black-color);
}

#profile {
    width: 200px;
    margin-bottom: -9rem;
}

.main-color {
    color: var(--main-color);
}

.langages {
    margin-top: -9rem;
}

.underline {
    text-decoration: underline;
}

.border-column {
    border-left: 0.1px solid var(--main-color-shadow);
    border-right: 0.1px solid var(--main-color-shadow);
}

.shadow-line-red {
    cursor: pointer;
    box-shadow: inset 0 -0.11em var(--red-color-shadow);
}

.shadow-line-red:hover {
    border-radius: 4px;
    box-shadow: none;
    background-color: var(--red-color-shadow);
    color: var(--red-color-shadow);
    transition-duration: .4s;
    transition-property: box-shadow, background-color, color;
}

.shadow-line-orange {
    cursor: pointer;
    box-shadow: inset 0 -0.11em var(--orange-color-shadow);
}

.shadow-line-orange:hover {
    border-radius: 4px;
    box-shadow: none;
    background-color: var(--orange-color-shadow);
    color: var(--orange-color-shadow);
    transition-duration: .4s;
    transition-property: box-shadow, background-color, color;
}

.shadow-red-background {
    background-color: var(--red-color-shadow);
    border-radius: 4px;
    color: var(--red-color-shadow);
    transition-duration: .4s;
    transition-property: box-shadow, background-color, color;
}

.shadow-orange-background {
    background-color: var(--orange-color-shadow);
    border-radius: 4px;
    color: var(--orange-color-shadow);

}

.grow {
    transition-duration: 0.4s;
}

.grow:hover {
    transform: scale(1.07);
}

@media screen and (max-width: 768px) {
    .logo-framework {
        max-width: 100px;
        min-width: 70px;
    }

    .border-column {
        border-top: 0.1px solid var(--main-color-shadow);
        border-bottom: 0.1px solid var(--main-color-shadow);
        border-left: none;
        border-right: none;
    }

    .langages {
        margin-top: -5rem;
    }

    #profile {
        margin-bottom: -6rem;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--orange-color-shadow);
    border-radius: 100px;
}

em {
    margin: 0.5em;
}

a.link-animation-red, a.link-animation-rose, a.link-animation-orange, a.link-animation-main {
    position: relative;
    color: white;
}

a.link-animation-red:hover, a.link-animation-rose:hover, a.link-animation-orange:hover, a.link-animation-main:hover {
    color: var(--main-color);
} 

a.link-animation-red:before, a.link-animation-rose:before, a.link-animation-orange:before, a.link-animation-main:before {
    content: "";
    margin-bottom: -0.2em;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.link-animation-red:before {
    background-color: #B21E19;
}

a.link-animation-rose:before {
    background-color: #FF74BC;
}

a.link-animation-orange:before {
    background-color: #FF5733;
}
a.link-animation-main:before {
    background-color: var(--main-color);
}

a.link-animation-red:hover:before, a.link-animation-rose:hover:before, a.link-animation-orange:hover:before, a.link-animation-main:hover:before {
    visibility: visible;
    width: 100%;
}

a.navbar-item:hover {
    color : var(--main-color);
}